*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --clr: #222327;
}

#product-list {
    display:none; 
}
#products:hover ~ #product-list{
    display:block;
}

#product-list:hover{
    display:block;
}