*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --clr: #222327;
}

/*login*/
.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* background hp*/
.bg-hp {background: url("https://images.alphacoders.com/693/693300.jpg");
    height : 100vh;
    background-size: cover;
    background-position: center;
}
/* background login*/
.bg {background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).webp");
    height : 100vh;
    background-size: cover;
    background-position: center;
}

/* NAV */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5%;
    padding-left: 10%;
    padding-right: 10%;
    border-bottom: solid 1px black;
}


.tNavLink {
    color: var(--on-background-high);
    transition: 0.3s;
}

.tNavLink:hover {
    color: fuchsia;
}

.tNavLink.disabled {
    color: var(--on-background-med);
}

/* spacing between icons padding*/
.tNavItem {
    display: inline-block;
    padding: 5px 40px;
    text-align: center;
}

/* Nav Links */
.tNavLink {
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.2s;
}

.tNavLink .text {
    position: absolute;
    opacity: 0;        
    transition: 0.2s;
}
/* xy location of text under icon */
.tNavLink:hover .text {
    opacity: 1;
    transform: translateY(20px);
}

.tNavLink i {
    position: relative;
    transition: 0.2s;
}

.tNavLink:hover i {
    transform: translateY(-20px) !important;
}

.tNavList .active {
    color: green!important;
}

#product-list li {
    display: inline-block;
    text-align: center;
}

/*size of icons*/
i {
    font-size: 48px;
}

/* Lists */

ul {
    list-style-type: none;
}





