{% extends "layout.html" %}

{% block title %}
    New Tree
{% endblock %}

{% block main %}

    <form action="/newTree" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="latitude" name="latitude" placeholder="latitude" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="longitude" name="longitude" placeholder="longitude" type="text">
        </div>
        <p>or</p> <!-- TODO: CLick button to toggle form layout between coords and w3w-->
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="w3w" name="w3w" placeholder="w3w" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="grade" name="grade" placeholder="grade" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Plant</button>
    </form>
    
{% endblock %}