{% extends "layout.html" %}



{% block head %}
        <title>Trees Near Me</title>

        <head>
                <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
               integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
               crossorigin=""/>
                <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
               integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
               crossorigin=""></script>
        </head>
{% endblock %}





<!-- TODO: map gives coords use to generate what.three.words address using their api-->
{% block main %}

<h1 style="align-content: center"> Imagine a big map here centred on your location. Trees all about you.</h1>

<div id="minimap">
        <!-- Window to the minimap-->
  
  
</div>
  <!-- Choose between GPS location and internet location -->
  <form>
        <button>
                <p>GPS</p>
        </button>
        <button onclick="ipLocate()">
                <p>Over Internet</p>
        </button>
  </form>
  <div>
    <h2>This is ur location details:</h2>
    <p id="location"></p>

  </div>
  <div id="GPS">
        
  </div>
  <div id="ip">
    <!-- Uses internet connection for location-->
    <script src="/static/ipLocate.js"> </script>
    <!-- 'navigator' is a property of 'window'-->
  </div>

  <h2> Planning proper layout:</h2>
  <div> <!-- Contains map and taskbar-->

    <div class="container text-center">

      <div class="row">
        <div class="col-3"></div> <!-- ...centres the map... -->

        <div  class="col-5 d-flex justify-content-center bg-success">
          <div id="map" style="width: 600px; height: 400px;"></div> <!-- Map -->
          <script src="/static/minimap.js"></script>          
        </div>
        
        <div class="col-1 bg-info"> <!-- Taskbar -->
          <div id="filters" class="navigation">
            <ul>
              <li class="list"> <p>T0</p> </li>
              <li class="list"> <p>T1</p> </li>
              <li class="list"> <p>T2</p> </li>
              <li class="list"> <p>T3</p> </li>
              <li class="list"> <p>T4</p> </li>
              <li class="list"> <p>T5</p> </li>
              <li class="list"> <p>T6</p> </li>
              <li class="list"> <p>T7</p> </li>
              <li class="list"> <p>T8</p> </li>
              <li class="list"> <p>T9</p> </li>
            </ul>
            
          </div>
        </div>
      </div>

    </div>
  </div>
  




{% endblock %}