{% extends "layout.html" %}



{% block head %}
        <title>Trees Near Me</title>

        <head>
                <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
               integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
               crossorigin=""/>
                <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
               integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
               crossorigin=""></script>
               <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script> <!-- GMAPS docs had it-->
               <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script> <!-- Makes clusters on map -->

        </head>
{% endblock %}





<!-- TODO: map gives coords use to generate what.three.words address using their api-->
{% block main %}

<h1 style="align-content: center"> Imagine a big map here centred on your location. Trees all about you.</h1>

  
  <h2> Planning proper layout:</h2>
  

  <div class="row">
    <div class="col-2"></div>
    
    <!-- Displays map on page: -->
    <div  class="col-5 mx-auto">
      <div id="map" style="height: 100%; width:100%;"></div> <!-- Map -->

      <!-- Tree locations converted from Flask (Python) to json: -->
      <p id="test"> IF YOU CAN SEE THIS THEN minimap.js ISNT WORKING </p>
      <script>var trees = JSON.parse('{{ trees | tojson}}');</script>
      <!-- Load map: -->
      <script src="/static/scripts/minimap.js"></script>      
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key={{API}}&libraries=geometry&callback=initMap&v=weekly">
      </script>     
    </div>

    
    <!-- https://getbootstrap.com/docs/4.0/components/list-group/ -->
    <div class="col-1 navigation" style="border-style: dashed; justify-content: left;">
        {% for i in range(10) %}
          <p style="border-style: dotted; border-color: aqua; text-align: center;">T{{ i }}</p>
        {% endfor %}
    </div>

    <div class="col-3"></div>
  </div>
  



{% endblock %}